
    <footer class="fixed bottom-0 w-full bg-gray-500 h-15 text-white flex flex-col justify-center">
      <div class="flex flex-row justify-center">
        <div class="w-full flex flex-row justify-center">
          <div class="mr-20">Copyright 2025</div>
          <div>Super duper cool app</div>
        </div>
      </div>

    </footer>
  </body>
</html>
