<%- include("./partials/header") %>

<div class="center">
  <% if (authenticated) { %>
    <h1>Welcome <%= username %></h1>
    <a href="/members">Go to members page</a>
    <a style="background-color: grey; margin-top: 12pt;" href="/logout">Logout</a>
  <% } else { %>
    <a href="/login">Login</a>
    <p>or</p>
    <a href="/signup">Signup</a>
  <% } %>
</div>

<%- include("./partials/footer") %>
