<%- include("./partials/header") %>


<div class="flex h-screen">
  <div class="m-auto w-sm px-6 py-12 bg-white-200 rounded-lg space-y-6">
    <div class="flex flex-row justify-center">
      <h1 class="font-semibold text-xl mb-4 text-white">Signup</h1>
    </div>
    <form action="/signup" method="POST">
      <div class="flex flex-col justify-center">
        <label for="name">
          <i class="fas fa-user"></i>
        </label>
        <input type="text" name="name" placeholder="Name" id="name" required class="block w-full rounded-md bg-grey-100 px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 mb-4 text-white">

        <label for="username">
          <i class="fas fa-envelope"></i>
        </label>
        <input type="email" name="email" placeholder="Email" id="email" required class="block w-full rounded-md bg-grey-100 px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 mb-4 text-white">
  
        <label for="password">
          <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="password" placeholder="Password" id="password" required class="block w-full rounded-md bg-grey-100 px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 mb-4 text-white">
      </div>
  
      <div class="flex flex-row justify-center">
        <button type="submit" class="block w-3xs bg-blue-600 rounded-md mx-8 text-white p-2">Signup</button>
        <h3 class="text-red"><%= message %></h3>
      </div>
    </form>
  </div>
</div>

<div class="center">
  <form action="/signup" method="POST">
    <label for="name">
      <i class="fas fa-user"></i>
    </label>
    <input type="text" name="name" placeholder="Peter Venkman" id="name" required>

    <label for="email">
      <i class="fas fa-envelope"></i>
    </label>
    <input type="email" name="email" placeholder="peter_v@ghostbusters.com" id="email" required>

    <label for="password">
      <i class="fas fa-lock"></i>
    </label>
    <input type="password" name="password" placeholder="Password" id="password" required>

    <input id="login" type="submit" value="Sign Up">
    <h3 id="flash-msg" class="flash-msg"><%= message %></h3>
  </form>
</div>

<%- include("./partials/footer") %>
